// resolutions
$phone: 375px;
$lg-phone: 630px;

// colors
$red: #f22;
$yellow: #FFC90C;
$green: #00B966;
$green-gradient: linear-gradient(180deg, #00DB75 0%, #00593E 100%);
$white-gradient: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
$white: #fff;
$black: #000;
$gray: #636363;
$gray-light: #7D7D7D;
$gray-dark: #3B3B3B;

// fonts
$base-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$light: 300;
$normal: 400;
$bold: 700;
$lts: -.01em;

$trs-delay-s: .3s;
$trs-delay-l: .6s;